// COLOR

$color-primary: #2f302f;

$color-orange: #e86c00;

$color-secondary: #098ae0;

$color-white: #FFF;

$color-black: #000;


//FONT

$default-font-size: 1.6rem;

/// GRID

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

$grid-vertical-gutter: 0;
$grid-horizontal-gutter: 0;


// CUSTOM FONT

@font-face {
    font-family: "CoolveticaBold";
    src: url(../css/font/coolvetica-rg.ttf);
}

@font-face {
    font-family: "Coolvetica";
    src: url(../css/font/coolvetica-condensed-rg.ttf);
}

@font-face {
    font-family: "Bebas Neue";
    src: url(../css/font/Bebas-Neue-Regular.tff);
}
