.header {
    height: 20vh;
    background-color: $color-white;
    position: relative;
    margin-bottom: 16rem;

    &__logo-box {
        display: inline-block;
    }

    &__logo {
        height: 20rem;
    }
}