body {
    color: $color-primary;
    padding: 13rem;
    font-family: "Coolvetica";
}

// SPAN 

.adventure {
    text-transform: uppercase;
    color: $color-secondary;
}

// WELCOME SECTION
.content {
    float: left;
    text-align: center;

    &--title {
        font-family: "CoolveticaBold";
        text-transform: uppercase;
        font-size: 6.3rem;
        letter-spacing: .7rem;
        margin-bottom: 4rem;
    }

    &--paragraph {
        margin: 1rem;
        margin-bottom: 7rem;
        font-size: 2.5rem;
        letter-spacing: 2px;
        height: 10rem;
        width: 50%;
        transform: translateX(46%);
        line-height: 3.5rem;
    }
}